VITE_AUTH_ISSUER=https://auth.wundercorp.co
VITE_AUTH_CLIENT_ID=openmodel-web
VITE_AUTH_AUDIENCE=https://api.openmodel.sh
VITE_AUTH_REDIRECT_URI=https://openmodel.sh/auth/callback
VITE_CLOUD_API_URL=https://api.openmodel.sh
