OPENMODEL_AUTH_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_EXAMPLE
OPENMODEL_AUTH_DOMAIN=https://auth.wundercorp.co
OPENMODEL_AUTH_CLIENT_ID=replace-with-cognito-cli-app-client-id
OPENMODEL_AUTH_AUDIENCE=replace-with-cognito-cli-app-client-id
OPENMODEL_CLOUD_API_URL=https://api.openmodel.sh
OPENMODEL_WEB_URL=https://openmodel.sh
OPENMODEL_HOME=
HF_TOKEN=
OPENMODEL_ALLOWED_ORIGINS=https://openmodel.sh
