OPENMODEL_DEPLOY_PROVIDER="aws"

OPENMODEL_AWS_REGION="us-east-1"
OPENMODEL_AWS_PROFILE=""
OPENMODEL_AWS_ACCOUNT_ID="668076964296"
OPENMODEL_ROUTE53_ZONE_ID="Z00830633ZJTPIDY86OC"
OPENMODEL_ROUTE53_ZONE_NAME="openmodel.sh"
OPENMODEL_ROUTE53_EXPECTED_NAME_SERVERS="ns-849.awsdns-42.net,ns-1053.awsdns-03.org,ns-1647.awsdns-13.co.uk,ns-300.awsdns-37.com"
OPENMODEL_PROJECT_NAME="openmodel"
OPENMODEL_TERRAFORM_STATE_BUCKET="openmodel-terraform-state-668076964296"
OPENMODEL_TERRAFORM_STATE_KEY="openmodel/production.tfstate"
OPENMODEL_TERRAFORM_BOOTSTRAP_STATE="1"
OPENMODEL_CLOUDFRONT_PRICE_CLASS="PriceClass_100"
OPENMODEL_LOG_RETENTION_DAYS="30"
OPENMODEL_FORCE_DESTROY_WEB_BUCKET="0"

OPENMODEL_WEB_HOSTNAME="openmodel.sh"
OPENMODEL_API_HOSTNAME="api.openmodel.sh"
OPENMODEL_AUTH_ISSUER="https://auth.wundercorp.co"
OPENMODEL_AUTH_AUDIENCE="https://api.openmodel.sh"
OPENMODEL_WEB_AUTH_CLIENT_ID="openmodel-web"
OPENMODEL_CLI_AUTH_CLIENT_ID="openmodel-cli"
OPENMODEL_ALLOWED_ORIGINS="https://openmodel.sh"
OPENMODEL_WEB_URL="https://openmodel.sh"
OPENMODEL_CLOUD_API_URL="https://api.openmodel.sh"
OPENMODEL_SKIP_HEALTHCHECK="0"
OPENMODEL_PUBLISH_NPM="0"

NPM_TOKEN=""
NPM_DIST_TAG="latest"

CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ZONE_ID=""
OPENMODEL_MANAGE_CUSTOM_DOMAINS="0"
OPENMODEL_PAGES_PROJECT="openmodel-web"
OPENMODEL_PAGES_BRANCH="main"
OPENMODEL_WORKER_NAME="openmodel-cloud"
OPENMODEL_GATEWAY_KV_TITLE="openmodel-gateway-registry"
