AUTH_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_EXAMPLE
AUTH_AUDIENCE=replace-with-web-client-id,replace-with-cli-client-id
ALLOWED_ORIGINS=https://openmodel.sh,https://www.openmodel.sh,https://walton.bot,https://www.walton.bot
GATEWAY_REGISTRY_TABLE=openmodel-gateway-registry
GPU_CAPACITY_TABLE=openmodel-gpu-capacity
HYPERSCALER_SUBJECTS=
CAPACITY_HEARTBEAT_MAX_AGE_SECONDS=120
CAPACITY_ASSIGNMENT_TIMEOUT_SECONDS=300
CAPACITY_EARNINGS_HOLD_SECONDS=604800
CAPACITY_MINIMUM_PAYOUT_AMOUNT=25
CAPACITY_PLATFORM_FEE_BPS=1000
